/* ============================================= */
/*              Body                            */
/* ============================================= */

.body-container {
    width: 90%;
    background-color: $container;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

#about {
    p {
        padding: 2rem 0;
    }
}

#main-nav,
#page-description {
    border-bottom: 1px solid $border;
}

#page-description {
    margin: 0 20px;
}

.pets-col {
    @include flexy($dir: column, $align: center);
    img {
        margin: 2rem 0;
    }
}

#adopt {
    margin: 0 20px;
}

.adopt-para {
    p {
        padding: 1.5rem 0;
    }
}