/* ============================================= */
/*              Body                             */
/* ============================================= */

.body-container {
    width: 90%;
    background-color: $container;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.content-container {
    width: 90%;
    margin: auto;
}

#about {
    p {
        padding: 2rem 0;
    }
}

#main-nav,
#page-description {
    border-bottom: 1px solid $border;
}

#adopt {
    padding-top: 31.92px;
}

.adopt-para {
    p {
        padding: 1.5rem 0;
    }
}

#locations {
    padding-top: 31.92px;
    padding-bottom: calc(31.92px * 2);
    border-bottom: 1px solid $border;
}