/* ============================================= */
/*              Button                           */
/* ============================================= */

.contact-button {
    button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: $pink;
    color: white;
    &:hover{
        background-color: $container;
        color: $pink;
        border: 2px solid $pink;
        cursor: pointer;
    }
}
}