/* ============================================= */
/*              Button                           */
/* ============================================= */

.contact-button {
    button {
    padding: 10px 20px;
    border: 2px solid $pink;
    border-radius: 20px;
    background-color: $pink;
    color: white;
    &:hover{
        background-color: $container;
        color: $pink;
        cursor: pointer;
    }
}
}

.adopt-buttons {
    @include flexy($just: space-around, $wrap: wrap);
    padding: 1rem 0 3rem;
    border-bottom: 1px solid $border;
    button {
    padding: 10px 30px;
    margin: 1rem .5rem;
    border: 2px solid $pink;
    border-radius: 5px;
    background-color: $pink;
    color: white;
    &:hover{
        background-color: $container;
        color: $pink;
        cursor: pointer;
    }
}
}