/* ============================================= */
/*              Images                           */
/* ============================================= */

.page-desc-img {
    @include flexy($just: center);
    padding: 30px 15px;
    margin: 20px 0;
}

.paws-locations {
    @include flexy($align: center, $dir: column);
    img {
        width: 100%;
    }
    input {
        width: 100%;
        padding: 5px 5px 5px 18px;
        outline: none;
        border: 1px solid $light-pink;
        border-radius: 4px;
        margin: 15px 0;
        box-shadow: 0 2px 1.5px $border;
    }
}

.pets-col {
    @include flexy($just: space-around, $wrap: wrap);
    img {
        margin: 2rem 0;
    }
}

.search-input {
    @include flexy($align: center, $dir: column);
    width: 95%;
    position: relative;
    .locationmarker {
        width: 13px;
        right: 25px;
        top: 22px;
        position: absolute;
        align-self: flex-end;
        z-index: 1000;
    }
}

.hide-content {
    display: none;
}