/* ============================================= */
/*              Images                           */
/* ============================================= */

.page-desc-img {
    @include flexy($just: center);
    padding: 30px 15px;
    margin: 20px 0;
    img {
    width: 90%;
}
}