/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
    box-sizing: border-box;
    // font-family: "Quicksand", sans-serif;
    font-family: "Work Sans";
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: $pink;
    }
}

h2,
h3,
h4,
h5 {
    font-size: 1.5rem;
    text-align: center;
}