/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: $pink;
    }
}